<section>
  <h2>Table</h2>
  <!--<div id="filter_predicate">
    <input class="typeahead form-control" type="text" placeholder="Predicate Filter">
  </div>-->
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuClass" data-toggle="dropdown" aria-expanded="true">
      <span data-bind="text: instance().pretty()"></span>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuClass" data-bind="foreach: classes().reverse('rdf:type')">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#" data-bind="attr: { href: '/table/' + encodeURIComponent(valueOf()) }, text: pretty()"></a></li>
    </ul>
  </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Subject</th>
          <!-- ko foreach: instance().follow('rdf:type').follow('rdfs:subClassOf').reverse('rdfs:domain') -->
          <th data-bind="text: follow('rdfs:label').pretty()"></th>
          <!-- /ko -->
        </tr>
      </thead>
      <tbody data-bind="foreach: instance().reverse('rdf:type')">
        <tr>
          <td><a data-bind="attr: { href: '/instance/' + encodeURIComponent(valueOf()) }, text: pretty()"></a></td>
          <!--  ko foreach: $root.instance().follow('rdf:type').follow('rdfs:subClassOf').reverse('rdfs:domain') -->
          <td data-bind="foreach: $parent.follow($data)">
            <span data-bind="text: pretty()"></span><br/>
          </td>
          <!-- /ko -->
        </tr>
      </tbody>
    </table>
  </div>
</section>

<p/>
<footer>&copy; Erik Larsson 2014</footer>