<section>
  <h2>Types</h2>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Label</th>
          <th>IRI</th>
        </tr>
      </thead>
      <tbody data-bind="foreach: types">
        <tr>
          <td data-bind="text: label"></td>
          <td><a data-bind="attr: { href: '/table/'+encodeURIComponent(iri) }, text: iri"></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<p/>
<footer>&copy; Erik Larsson 2014</footer>